In [33]:
#import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [34]:
#set csv urls
df_21_22 = pd.read_csv('https://data.sa.gov.au/data/dataset/860126f7-eeb5-4fbc-be44-069aa0467d11/resource/97524896-b976-4ed1-a26b-70bdc8248832/download/2021-22-data-sa-crime-q1-q4.csv', index_col=0)
df_20_21 = pd.read_csv('https://data.sa.gov.au/data/dataset/860126f7-eeb5-4fbc-be44-069aa0467d11/resource/e0b8d120-65e3-44e6-9e2e-aeb7aec59114/download/2020-21_data_sa_crime.csv', index_col=0)
df_19_20 = pd.read_csv('https://data.sa.gov.au/data/dataset/860126f7-eeb5-4fbc-be44-069aa0467d11/resource/590083cd-be2f-4a6c-871e-0ec4c717717b/download/2019-20-fullyr-data_sa_crime.csv', index_col=0)
df_18_19 = pd.read_csv('https://data.sa.gov.au/data/dataset/860126f7-eeb5-4fbc-be44-069aa0467d11/resource/809b11dd-9944-4406-a0c4-af6a5b332177/download/2018-19-data_sa_crime.csv', index_col=0)
df_17_18 = pd.read_csv('https://data.sa.gov.au/data/dataset/860126f7-eeb5-4fbc-be44-069aa0467d11/resource/bf604730-9ec8-44dd-88a3-f024b387e0e4/download/2017-18-data_sa_crime.csv', index_col=0)
df_16_17 = pd.read_csv('https://data.sa.gov.au/data/dataset/860126f7-eeb5-4fbc-be44-069aa0467d11/resource/9eb63b08-c300-49c5-b6ef-ecb0945008b5/download/2016-17-data_sa_crime.csv', index_col=0)
df_15_16 = pd.read_csv('https://data.sa.gov.au/data/dataset/860126f7-eeb5-4fbc-be44-069aa0467d11/resource/19beeceb-a870-4424-b533-43c774bcb03e/download/2015-16-data_sa_crime.csv', index_col=0)
df_14_15 = pd.read_csv('https://data.sa.gov.au/data/dataset/860126f7-eeb5-4fbc-be44-069aa0467d11/resource/49ff5a8b-6e68-4f53-861a-085055999fcf/download/2014-15-data_sa_crime.csv', index_col=0)
df_13_14 = pd.read_csv('https://data.sa.gov.au/data/dataset/860126f7-eeb5-4fbc-be44-069aa0467d11/resource/e4a20c4d-7462-4ce2-95c9-b288f5634f62/download/2013-14-data_sa_crime.csv', index_col=0)

In [35]:
#df names in a list
list_dfs = [df_13_14,
            df_14_15, 
            df_15_16, 
            df_16_17, 
            df_17_18, 
            df_18_19, 
            df_19_20, 
            df_20_21, 
            df_21_22]
#merge all dataframes
df_all_data = pd.concat(list_dfs, ignore_index=False)


#add year, month columns using ymd

#check if lat long are needed.

In [36]:
#check unique values
df_all_data.dtypes
print(df_all_data['Offence Level 1 Description'].unique())
print(df_all_data['Offence Level 2 Description'].unique())
print(df_all_data['Offence Level 3 Description'].unique())

['OFFENCES AGAINST PROPERTY' 'OFFENCES AGAINST THE PERSON' nan]
['SERIOUS CRIMINAL TRESPASS' 'PROPERTY DAMAGE AND ENVIRONMENTAL'
 'THEFT AND RELATED OFFENCES' 'ACTS INTENDED TO CAUSE INJURY'
 'FRAUD DECEPTION AND RELATED OFFENCES' 'ROBBERY AND RELATED OFFENCES'
 'OTHER OFFENCES AGAINST THE PERSON' 'SEXUAL ASSAULT AND RELATED OFFENCES'
 'HOMICIDE AND RELATED OFFENCES' nan]
['SCT - Non Residence' 'Graffiti'
 'Other property damage and environmental' 'Other theft'
 'Theft from motor vehicle' 'Theft from shop' 'Common Assault'
 'Obtain benefit by deception' 'Receive or handle proceeds of crime'
 'Serious Assault not resulting in injury' 'Theft/Illegal Use of MV'
 'Blackmail and extortion' 'SCT - Residence'
 'Other unlawful entry with intent' 'Threatening behaviour'
 'Property damage by fire or explosion' 'Assault police'
 'Abduction, harassment and other offences'
 'Other acts intended to cause injury'
 'Serious Assault resulting in injury' 'Aggravated sexual assault'
 'Non-aggravated sexual assault' 'Non-assaultive sexual offences'
 'Dangerous or negligent acts' 'Aggravated robbery'
 'Other fraud, deception and related offences' 'Non-aggravated robbery'
 'Other homicide and related offences' 'Murder' nan]

In [37]:
#filter df to offences against the person
df_person_offences = df_all_data[df_all_data['Offence Level 1 Description'] == 'OFFENCES AGAINST THE PERSON']
df_person_offences.reset_index(inplace=True)
df_person_offences.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count
0,1/07/2013,ADELAIDE,5000,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,2.0
1,1/07/2013,ALDINGA BEACH,5173,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,1.0
2,1/07/2013,ALDINGA BEACH,5173,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,1.0
3,1/07/2013,BEDFORD PARK,5042,OFFENCES AGAINST THE PERSON,ROBBERY AND RELATED OFFENCES,Blackmail and extortion,1.0
4,1/07/2013,BURTON,5110,OFFENCES AGAINST THE PERSON,OTHER OFFENCES AGAINST THE PERSON,Threatening behaviour,1.0

In [38]:
# Fix dtypes
df_person_offences['Offence count'] = df_person_offences['Offence count'].astype(int)
df_person_offences.dtypes

Reported Date                  object
Suburb - Incident              object
Postcode - Incident            object
Offence Level 1 Description    object
Offence Level 2 Description    object
Offence Level 3 Description    object
Offence count                   int32
dtype: object

In [39]:
#Adding date fields
offences_dates = df_person_offences
# Convert 'Date' column to datetime data type
offences_dates['Reported Date'] = pd.to_datetime(offences_dates['Reported Date'], format='%d/%m/%Y')

# Create new columns 'Month' and 'Year'
offences_dates['Month'] = offences_dates['Reported Date'].dt.month
offences_dates['Year'] = offences_dates['Reported Date'].dt.year

offences_dates.head()

,Reported Date,Suburb - Incident,Postcode - Incident,Offence Level 1 Description,Offence Level 2 Description,Offence Level 3 Description,Offence count,Month,Year
0,2013-07-01,ADELAIDE,5000,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,2,7,2013
1,2013-07-01,ALDINGA BEACH,5173,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Common Assault,1,7,2013
2,2013-07-01,ALDINGA BEACH,5173,OFFENCES AGAINST THE PERSON,ACTS INTENDED TO CAUSE INJURY,Serious Assault not resulting in injury,1,7,2013
3,2013-07-01,BEDFORD PARK,5042,OFFENCES AGAINST THE PERSON,ROBBERY AND RELATED OFFENCES,Blackmail and extortion,1,7,2013
4,2013-07-01,BURTON,5110,OFFENCES AGAINST THE PERSON,OTHER OFFENCES AGAINST THE PERSON,Threatening behaviour,1,7,2013

In [40]:
#outputting a version that can be used for individual work.
offences_dates.to_csv('output/offences_dates.csv', index=True)